@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

:root {
    --primaryColor: #09A9F3;
    --secondColor: #06283D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.main.content {
    display: flex;
    flex-direction: column;
}

.box-title {
    padding: 10px;
    background: var(--secondColor);
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}

.saludo {
    font-size: 30px;
    font-weight: 600;
}

.slogan {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.box-title img {
    width: 80px;
    grid-row: 1 / 3;
    grid-column: 2 /3;
    margin: auto auto;
}



.input-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    
}

.input-box input {
    height: 25px;
    
}

.services {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.service-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    border-radius: 5px;  
    height: 50px;
    width: 150px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--primaryColor);
    justify-content: center;
    align-items: center;
    margin: auto auto;
}




.services i {
    color: white;
    padding-right: 15px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto auto;

}

.services label {
    grid-column: 1 / 3;
    grid-row: 2;
    margin: auto auto;
}

/*ADAPTACION A MOVIL */

@media only screen and (min-width: 300px) {

    .saludo {
        font-size: 26px;
        text-shadow: 0 0 4px rgb(105, 104, 104) ;
    }

    .slogan {
        font-size: 15px;
        font-weight: 500;
        text-shadow: 0 0 4px rgb(105, 104, 104) ;
    }

    .box-title img {
        width: 60px;
    }

    .input-box{
        display: flex;
        flex-direction: column;
        background-color: var(--primaryColor);
        padding: 5px 10px;
        gap: 5px;
       
    }

    .lbl-inicio .lbl-destino {
        display: flex;
    }
    
    
    .input-box input {
    
        height: 25px;
       
        font-size: 15px;
        background: none;
        border: none;
        width: 93%;
        border-bottom: solid 2px #0026ca;
        outline: none;
        
        
    }

    .map-continer {
        
        height: 80vw;
        position: relative;
        display: grid;
    }

    .map {
        height: 80vw;
        
    }

    .btn {
        position: absolute;
        bottom: 20px;
        height: 30px;
        width: 180px;
        background-color: #0026ca;
        color: #fff;
        border-radius: 20px;
        text-shadow: 0.5px .5px .5px #000, 0 0 1em #000;
        font-size: 18px;
        justify-self: center;
        
    }

    .services-item {
        background-color: var(--primaryColor);
        
    }

}
